.painel-habilidadesUm {
    height: 80vh;
    margin: 100px auto;
    position: relative;

}

#skils {
    margin-bottom: 180px;
    text-align: center;
}

.painel-habilidadesDois {
    position: relative;
    overflow: hidden;
    width: 100%;

}

.hablilidades {
    /* animation: moveDiv 30s linear infinite; */
    animation: moveDiv infinite linear 20s;
    display: flex;
    gap: 100px;
    align-items: center;
    height: 250px;
    width: 1900px;
}

@keyframes moveDiv {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(0);
    }
}

.caixa-habilidade {
  
    flex-shrink: 0;
    width: 130px;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.caixa-habilidade p {
    font-weight: 1000;
}



.img-habilidades {
    width: 100px;
    margin-bottom: 10px;
}



.html,
.desingn,
.java {
    color: rgb(255, 90, 13);
}

.css,
.vscode,
.typescript {
    color: rgb(105, 159, 253);
}

.react {
    color: rgb(65, 178, 244);
}

.javascript {
    color: rgb(235, 235, 6);
}



.nodeJs {
    color: green;
}





.imgTypeScript {
    border-radius: 20px;
}



/* @keyframes moveDiv {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
} */

@media (max-width:600px) {

    .painel-habilidadesUm {
        margin-top: 100px;
    }

    .painel-texto-skill {
        margin-top: 600px;
    }

    .caixa-habilidade {
        width: 130px;
        height: 150px;
    }

    .hablilidades {
        animation: moveDiv 25s linear infinite;
    }


}
